spring:
  datasource:
    url: jdbc:h2:mem:reviewdb
    driverClassName: org.h2.Driver
    username: sa
    password:
      jpa:
        show-sql: true
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update

rabbitmq:
  host: localhost
  port: 5672
  username: guest
  password: guest
